@tailwind base;
@tailwind components;
@tailwind utilities;

.prose h2 {
  @apply text-3xl;
  @apply mb-3;
}
.prose strong {
  @apply font-extrabold;
}

.bpd-project-tile {
  min-height: 33vh;
}

@media screen and (min-width: 1024px) {
  .bpd-project-tile {
    min-height: 180px;
  }
}

@media screen and (min-width: 1400px) {
  .bpd-project-tile {
    min-height: 22vh;
  }
}

@media screen and (min-width: 1800px) {
  .bpd-project-tile {
    min-height: 20vh;
  }
}
